*.xcodeproj/*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.mode1v3
*.mode2v3
*.perspectivev3
*.settings

DerivedData/
Build/
*.app
*.ipa

*.xctestrun

.swiftpm/
.build/
Packages/

Pods/

Carthage/Build/

.DS_Store
._*

*~.nib/
